%a.mxb-facebook-share.mxb-slideshow-share{:href => "", :onclick => "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", :target => "_blank", :data => {loaded: 'false'}}
	.mxb-facebook-share.icon-slideshow-facebook-share

%a.mxb-twitter-share.mxb-slideshow-share{ :href => "", :onclick => "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", :target =>"_blank", :data => {loaded: 'false'} }
	.icon-slideshow-twitter-share

%a.mxb-pinterest-share.mxb-slideshow-share{ :href => "", :target =>"_blank", :onclick => "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", :data => {loaded: 'false', "pin-do": "buttonPin", "pin-config": "none"} }
	.icon-slideshow-pinterest-share

%a.mxb-googleplus-share.mxb-slideshow-share{ :href => "", :target =>"_blank", :onclick => "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", :data => {loaded: 'false'} }
	.icon-slideshow-googleplus-share