%link{ :href => 'http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic', :rel => 'stylesheet', :type => 'text/css' }
%link{ :href => 'http://fonts.googleapis.com/css?family=Oswald:400,700,300', :rel => 'stylesheet', :type => 'text/css' }

%link{ :rel => "stylesheet", :href => "/assets/stylesheets/styles.css" }
%link{ :rel => "shortcut icon", :href => "/assets/images/ui/favicon.ico" }