%video#video.video{ :autoplay => "autoplay", :poster => "vid-first-frame.jpg" }
  %source{ :src => "/assets/videos/planet-earth.webm", :type => "video/webm" }
  %source{ :src => "/assets/videos/planet-earth.ogv", :type => "video/ogv" }
  %source{ :src => "/assets/videos/planet-earth.mp4", :type => "video/mp4" }
  %p
    Your browser doesn't support HTML5 video.
    %a{ :href => "videos/mikethefrog.mp4" }
      Download
    the video instead.

#video-controls.video-controls
  %button#play-pause{ :type => "button" }
    Play
  %input#seek-bar{ :type => "range", :value => "0" }
  %button#mute{ :type => "button" }
    Mute
  %input#volume-bar{ :type => "range", :min => "0", :max => "1", :step => "0.1", :value => "1" }
  %button#full-screen{ :type => "button" }
    Full-Screen